/*
 * dropdown
 */

.dropdown{
	display: inline-block;
	padding: 10px 20px 10px 15px;
	background-color: #fbfbfb;
	cursor: pointer;
	border-radius: 3px;
	font-size: 16px;
	text-align: left;
	box-shadow: 1px 1px 2px 0px rgba(93, 93, 93, 0.35);
}

.dropdown ul{
	margin: 0px;
	padding: 0px;
	list-style: none;
	position: absolute;
	z-index: 10;
	display: none;
}

.dropdown ul li{
	padding: 10px 20px 10px 15px;
}

.dropdown ul li:hover{
	background-color: #00bcf5;
	color: white;
}

.dropdown:after{
	content: "";
	width: 0;
	height: 0;
	border-top: 5px solid black;
	border-bottom: 5px solid transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	float: right;
	position: relative;
	top: 8px;
	left: 9px;
}

.dropdown .text{
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.dropdown .srch{
	display: none;
	margin: 10px 0px 0px -15px;
	border-radius: 0px;
}

.dropdown.open{
	/*border-radius: 3px 3px 3px 0px;*/
}

.dropdown.open:after{
	border-top-color: transparent;
	border-bottom-color: black;
	top: 2px;
}

.dropdown.open ul{
	display: block!important;
	margin: 48px 0px 0px -15px;
	background-color: #fbfbfb;
}

.dropdown.open .srch{
	display: block!important;
	position: absolute;
	font-size: 14px;
}



/*
 * input text
 */

input[type="text"], input[type="number"], input[type="password"]{
	font-family: Roboto;
	font-size: 16px;
	padding: 11px 15px;
	border: none;
	border-radius: 3px;
	outline: 0px;
	background-color: #fbfbfb;
	text-align: left;
	box-shadow: 1px 1px 2px 0px rgba(93, 93, 93, 0.35);
}

/*
 * button
 */

input[type="submit"], button{
	text-align: center;
	font-family: Roboto;
    padding: 11px 20px;
    border: 0px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #fbfbfb;
    cursor: pointer;
    box-shadow: 1px 1px 2px 0px rgba(93, 93, 93, 0.35);
}

input[type="submit"]:hover, button:hover{
	background-color: #00bcf5;
	color: white;
}



/*
 * search
 */

.input-search{
	display: inline-block;
}

.input-search ul{
	list-style: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	display: none;
	z-index: 10;
}

.input-search li{
	text-align: left;
	padding: 10px;
	cursor: pointer;
	background-color: #fbfbfb;
}

.input-search li.active, .input-search li:hover{
	background-color: #00bcf5;
	color: white;
}