<!DOCTYPE html>
<html>
<head>
	<title>Weatherlab | where weather is started from!</title>
	<link rel="stylesheet" type="text/css" href="static/fonts/dosis/style.css">
	<link rel="stylesheet" type="text/css" href="static/fonts/roboto/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/style.css">
	<link rel="stylesheet" type="text/css" href="static/css/resp.css">
	<link rel="stylesheet" type="text/css" href="static/css/inputs.css">
	<link rel="stylesheet" type="text/css" href="static/css/sweetalert.css">
	<link rel="stylesheet" type="text/css" href="static/css/flags.min.css">
	<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwec3-u5GbO1IFW19jrx4MjjSJ0lwvSJk"></script>
	<script src="static/js/sweetalert.min.js"></script>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
	<link rel="icon" type="image/png" href="static/img/sicon.png">
</head>
<body>
	<div id="ctrl"></div>
</body>
</html>